[submodule "yss"]
	path = yss
	url = https://github.com/mymy49/yss
[submodule "module/FM24CL04B"]
	path = module/FM24CL04B
	url = https://github.com/mymy49/FM24CL04B
[submodule "module/P4309N_DCT"]
	path = module/P4309N_DCT
	url = https://github.com/mymy49/P4309N_DCT
